{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>Ghost Post</title>
</head>

<body>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {{tab}}" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{sort}}" href="/sorted/">Sorted By Votes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/boasts/">Boasts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/roasts/">Roasts </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addpost/">Create Post</a>
        </li>

    </ul>
    <div class="container">
        <h1>Welcome to Ghost Post</h1>
        <ul>
            {% for post in posts %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    {% if post.type_of_post %}
                    <h5 class="card-title">Boast</h5>
                    {% else %}
                    <h5 class="card-title">Roast</h5>
                    {% endif %}
                    <p class="card-text">{{ post.body }}</p>
                    <p class="card-text">Votes: {{ post.total_votes }}</p>
                    <button><a href="/upvote/{{post.id}}" class="card-link">Up Vote </a></button>
                    <button><a href="/downvote/{{post.id}}" class="card-link">Down Vote</a></button>
                    <p class="card-text">{{ post.post_date }}</p>
                </div>
            </div>
            <br>
            {% endfor %}
        </ul>

    </div>
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
        integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
        crossorigin="anonymous"></script>
</body>

</html>